.group {
  position: relative;
  display: inline-block;
  height: 3.5rem;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.input_src {
  font-size: 1.3rem;
  background-color: var(--bg-second);
  color: var(--white-color);
  padding: 0 0.7rem;
}

.input_src::placeholder {
  color: #9e9ea7;
}
